.selectbox {
	vertical-align: middle;
	cursor: pointer;
}
.selectbox .select {
	width: 150px;
	height: 23px;
	padding: 0 22px 0 5px;
	font: 14px/23px Arial, sans-serif;	
	background: #ffffff;
	border: 1px solid #a1a1a1;	
	border-radius: 4px;	
	margin-bottom: 25px;
}
.selectbox .select:hover {
	border-color: #898989;
}
.selectbox .select .text {
	display: block;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #555555;	
}
.selectbox .select .text.disabled {
	color: #a1a1a1;
}
.selectbox .trigger {
	position: absolute;
	top: 0;
	right: 0;
	width: 22px;
	height: 100%;	
}
.selectbox .trigger .arrow {
	position: absolute;
	top: 8px;
	right: 6px;
	background: url('../img/select_arrows.png') no-repeat;
	width: 9px;
	height: 9px;	
}
.selectbox:hover .arrow {
	background-position: 0 -21px;
}
.selectbox .dropdown {
	top: 28px;
	width: 178px;
	margin: 0;
	padding: 4px 0;
	background: #FFF;
	border: 1px solid #a1a1a1;
	border-radius: 4px;	
	font: 14px/18px Arial, sans-serif;
}
.selectbox li {
	padding: 5px 7px 6px;
	color: #555555;
	font-size: 13px;
}
.selectbox li:hover {
	background: #ebebeb;	
}
.selectbox li.disabled {
	display: none;
}